# Imports

In [ ]:
import pandas as pd

# Read CSV file

In [ ]:
purchases_df = pd.read_csv('../data/purchases_item_price.csv', parse_dates=['purchase_date'])

In [ ]:
# purchases_df.dtypes
purchases_df.head(2)

# Agg and Sort (by month, total price, sort)

In [ ]:
purchases_calculated_df = purchases_df.assign(
    purchase_month=lambda x: x['purchase_date'].dt.to_period('M').astype(str),
    total_price=lambda x: x['quantity'] * x['price']
)

In [43]:
purchases_calculated_df.head(2)

,purchase_id,product,price,quantity,purchase_date,purchase_month,total_price
0,1,Headphones,120.0,2,2024-04-15,2024-04,240.0
1,2,Laptop,1500.0,1,2024-04-22,2024-04,1500.0

In [ ]:
help(purchases_calculated_df.groupby('purchase_month')
     .agg)

In [46]:
purchases_grouped_df = (purchases_calculated_df.groupby('purchase_month')
                        .agg({
    'quantity': 'sum',
    'total_price': 'sum',
})
                        .reset_index()
                        .sort_values(by='total_price', ascending=False))

In [47]:
purchases_grouped_df.head()

  purchase_month  quantity  total_price
2        2024-06        10       3330.0
4        2024-08         8       2620.0
0        2024-04         3       1740.0
3        2024-07        15       1130.0
1        2024-05        10       1030.0

In [50]:
new_df = (purchases_df.assign(
    purchase_month=lambda x: x['purchase_date'].dt.to_period('M').astype(str),
    total_price=lambda x: x['quantity'] * x['price']
)
          .groupby('purchase_month')
          .agg({'total_price': 'sum', 'quantity': 'sum'})
          .reset_index()
          .sort_values(by='total_price', ascending=False))

In [51]:
new_df.head()

  purchase_month  total_price  quantity
2        2024-06       3330.0        10
4        2024-08       2620.0         8
0        2024-04       1740.0         3
3        2024-07       1130.0        15
1        2024-05       1030.0        10