In [13]:
import pandas as pd
import numpy as np
from datetime import datetime
 
data = {
    'user_id': [1, 2, 3, 4, 5, 6],
    'country': ['US', 'US', 'UK', None, 'FR', 'DE'],
    'signup_date': ['2022-01-05', '2022-01-06', np.nan, '2022-01-08', '2022-01-09', 'not_a_date'],
    'purchase': ['100', 200, 'N/A', 300, 400, 500],
    'is_active': [True, False, 'yes', 'no', 1, 0]    
}
 
df = pd.DataFrame(data)

In [46]:
def replace_invalid_dates(p_date):
    default_date = '2025-01-01'
    if pd.isna(p_date):
        return default_date
    
    try:        
        datetime.strptime(p_date, '%Y-%m-%d')
        return p_date
    except ValueError as e:
        return default_date    

# Convert signup_date to datetime
# df['signup_date'] = pd.to_datetime(df['signup_date'])
df['signup_date_2'] = df['signup_date'].apply(replace_invalid_dates)
df['signup_date_2'] = pd.to_datetime(df['signup_date_2'])

In [48]:
df

   user_id country signup_date purchase is_active signup_date_2
0        1      US  2022-01-05      100      True    2022-01-05
1        2      US  2022-01-06      200     False    2022-01-06
2        3      UK         NaN      N/A       yes    2025-01-01
3        4    None  2022-01-08      300        no    2022-01-08
4        5      FR  2022-01-09      400         1    2022-01-09
5        6      DE  not_a_date      500         0    2025-01-01

In [76]:
# Convert purchase to float
df['purchase_2'] = df['purchase'].apply(lambda x: float(x) if x != 'N/A' else 0)

In [77]:
df

   user_id country signup_date purchase is_active signup_date_2  purchase_2
0        1      US  2022-01-05      100      True    2022-01-05       100.0
1        2      US  2022-01-06      200     False    2022-01-06       200.0
2        3      UK         NaN      N/A       yes    2025-01-01         0.0
3        4    None  2022-01-08      300        no    2022-01-08       300.0
4        5      FR  2022-01-09      400         1    2022-01-09       400.0
5        6      DE  not_a_date      500         0    2025-01-01       500.0

In [ ]:

df['is_active_2'] = df['is_active'].apply(lambda x: True if x in (True, 1, 'yes') else False)
active_df = df[df['is_active_2'] == True]

In [91]:

# Calculate average purchase per country
avg_purchase = active_df.groupby('country')['purchase_2'].mean()
 
print(avg_purchase)

country
FR    400.0
UK      0.0
US    100.0
Name: purchase_2, dtype: float64